name: Format Check

on:
  push:
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install
        run: npm ci
        # If you DON'T have a package-lock.json yet, use:
        # run: npm install

      - name: Prettier check
        run: npm run format:check